name: Deploy Express App

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Deploy to Contabo VPS
        uses: appleboy/ssh-action@v1.0.0
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            cd /home/sws/docker-express || exit 1

            if [ ! -d ".git" ]; then
              git clone https://github.com/msajiba/docker-express.git
            else
              git pull
            fi

            docker stop express-app || true
            docker rm express-app || true

            docker build -t express-app .
            docker run -d \
              --name express-app \
              -p 3000:3000 \
              --restart always \
              express-app
